$icon-account: "\61";
$icon-cart-outline: "\62";
$icon-cart: "\63";
$icon-magnify: "\65";
$icon-phone: "\66";
$icon-email-outline: "\67";
$icon-email: "\68";
$icon-contact: "\69";
$icon-cart-open: "\64";
$icon-uni30: "\30";
$icon-uni31: "\31";
$icon-uni32: "\32";
$icon-uni33: "\33";
$icon-uni34: "\34";
$icon-uni35: "\35";
$icon-uni36: "\36";
$icon-uni37: "\37";
$icon-uni38: "\38";
$icon-uni39: "\39";
$icon-uni3A: "\3a";
$icon-uni3B: "\3b";
$icon-document-fill: "\6a";
$icon-minus-alt: "\6b";
$icon-bolt: "\6c";
$icon-error: "\6d";
$icon-warning: "\6e";
